@import '~bootstrap/scss/bootstrap.scss';

// Root elements
body {
  margin: 0;
}
h1{
  font-size: 20px;
}

// Home Page (Main Content)

.mainContent-wrapper {
  margin-top: 100px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-flow: column;
  .post-card {
    padding: 10px 1rem;
    background: #e46a6aed;
    border: 1px solid #e46a6aed;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.3rem;
    margin: 10px 0;
    max-width: 300px;
    width: 100%;
    h1 {
      padding: 1rem 0;
    }
    a {
      color: aliceblue;
      text-decoration: none;
      letter-spacing: 1px;
      &:hover {
        text-decoration: underline;
      }
    }
    button, .edit-btn {
      background: transparent;
      border: 1px solid aliceblue;
      color: aliceblue;
      padding: 10px 20px; 
      border-radius: 3px;
      cursor: pointer;
      font-size: 14px;
      margin-bottom: 1rem;
      &:hover {
        background: aliceblue;
        color: #666;
        border: 1px solid aliceblue;
        transition: all 0.5s ease-in-out;
      }
    }
    .edit-btn {
      margin-left: 1rem;
    }
  }
}

.center {
  text-align: center;
  font-size: 2rem;
  color: #666;
}

// Header

.header {
  background: #666;
  color: aliceblue;
  height: 5rem;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  font-size: 25px;
  box-shadow: 0 0 5px 7px rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  a {
    color: aliceblue;
    text-decoration: none;
  }
  .header-logo {
    display: inline-block;
    a {
      margin-left: 2rem;
    }
  }
  .signup-wrapper {
    p {
      float: right;
      margin-right: 40px;
    }
  }
  .hero {
    display: grid;
    place-content: end;
    text-align: center;
    grid-template-columns: repeat(2, 130px);
    float: right;
    .newPost-wrapper {
      float: right;
      position: relative;
    }
  }
}

// Sign up form
.form-wrapper {
  text-align: center;
  max-width: 600px;
  width: 100%;
  margin: 160px auto;
  a {
    color: #666;
    font-size: 20px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .form {
    // margin-top: 200px;
    display: grid;
    grid-gap: 20px;
    input {
      height: 40px;
      padding: 5px;
      font-size: 16px;
    }
    .btn-wrapper {
      margin-top: 10px;
      button {
        background: transparent;
        border: 1px solid #666;
        color: #666;
        padding: 15px 25px; 
        border-radius: 3px;
        cursor: pointer;
        font-size: 14px;
        &:hover {
          background: #666;
          color: aliceblue;
          border: 1px solid #666;
          transition: all 0.5s ease-in-out;
        }
      }
    }
  }
}

// New Posts 

.post-wrapper {
  margin-top: 160px;
  text-align: center;
  p {
    font-size: 30px;
    color: #666;
  }
  .postForm-wrapper {
    display: grid;
    grid-gap: 20px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    input {
      height: 40px;
      padding: 5px;
      font-size: 16px;
    }
    textarea {
      height: 80px;
      padding: 5px;
    }
    button {
      background: transparent;
      border: 1px solid #666;
      color: #666;
      padding: 12px 25px; 
      border-radius: 3px;
      cursor: pointer;
      font-size: 14px;
      &:hover {
        background: #666;
        color: aliceblue;
        border: 1px solid #666;
        transition: all 0.5s ease-in-out;
      }
    }
  }
}

// Single Post

.singlePost-wrapper {
  margin-top: 160px;
  margin-left: 2rem;
  max-width: 600px;
  width: 100%;
  .singlePost {
    padding: 10px;
    background: #e46a6aed;
    border: 1px solid #e46a6aed;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.3rem;
    margin: 10px 0;
    h3 {
      color: aliceblue;
      letter-spacing: 1px;
    }
    p {
      color: #444;
    }
    .heading {
      font-size: 1.3rem;
      color: #fff;
      letter-spacing: 1px;
    }
    .editPost-btn {
      margin: 10px 0;
    }
    a {
      background: transparent;
      border: 1px solid aliceblue;
      color: aliceblue;
      padding: 10px 23px; 
      border-radius: 3px;
      cursor: pointer;
      font-size: 14px;
      text-decoration: none;
      &:hover {
        background: aliceblue;
        color: #666;
        border: 1px solid aliceblue;
        transition: all 0.5s ease-in-out;
      }
    }
  }
}

// Profile

.profile-wrapper {
  margin-top: 160px;
  text-align: center;
  button {
    background: transparent;
    border: 1px solid #666;
    color: #666;
    padding: 12px 25px; 
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    &:hover {
      background: #666;
      color: aliceblue;
      border: 1px solid #666;
      transition: all 0.5s ease-in-out;
    }
  }
}

// Single Post 

.loader {
  margin-top: 200px;
  text-align: center;
  font-size: 30px;
}